{% extends 'base/main.html' %}
{% load static %}
{% block content %}

      <!-- Base typography -->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 flex-lg-row-reverse justify-content-xl-between">
            <div class="col-xl-4">
              <div class="block-bordered-left">
                <div class="row row-40">
                  <div class="col-sm-6 col-xl-12">
                    <h2 class="heading-font text-accent-2">Jay Patel </h2>
                  </div>
                  <div class="col-sm-6 col-xl-12">
                    <h5 class="thin-title">AKA NJ</h5>
                      <img  src="{% static 'images/me.jpg'%} " alt="" width="300" height="300 "/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-7">
              <ul class="list-xxl heading-list">
                  <h3>Patel Jaykumar Dhansukhbhai </h3>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  <section class="section section-lg bg-default">
                    <div class="container">
                      <div class="row row-50">
                        <div class="col-lg-4">
                          <h5>GSEB SSC 10th</h5>
                          <p> Shree D.P Patel School </p>
                           <p> Years :  2016 – 2017</p>
                          <p> Percentage : 63.16 %</p>
                          </p>
                        </div>
                        <div class="col-lg-4">
                          <h5>GSHEB HSC 12th</h5>
                          <p> Ashwamegh Vidhyalaya </p>
                           <p> Years :   2018 – 2019</p>
                          <p> Percentage : PCM 57 %</p>
                          </p>
                        </div>
                        <div class="col-lg-4">
                          <h5>GTU BE</h5>
                          <p> GEC Rajkot</p>
                           <p> Years :  2019 – 2023 </p>
                          <p> Percentage : CGPA 6.70 </p>
                          </p>
                        </div>
                      </div>
                    </div>
                  </section>
                </ul>
            </div>
          </div>
        </div>
      </section>
     
      <!-- Unordered List-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-6">
              <h3>Skills</h3>
              <div class="row row-50">
                <div class="col-sm-6">
                  <ol class="list-ordered">
                    <li>HTML & CSS </li>
                    <li>Python</li>
                    <li>Django Framework</li>
                    <li>Bootstrap 5</li>
                    <li>Basic c++</li>
                    <li>MySQL & SQLite</li>
                
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Blockquote-->
      <!-- <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-10 col-xl-8">
              <h3>Blockquote</h3>
              <!-- Quote Primary-->
              <!-- <article class="quote-primary"> 
                <div class="quote-primary-body">
                  <div class="quote-primary-text">
                    <p class="q">Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, tristique senectus et netus et malesuada fames ac turpis egestas</p>
                  </div>
                </div>
                <div class="quote-primary-footer">
                  <div class="bg-dot"></div>
                  <p class="quote-primary-cite">Jane Smith</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section> -->
    
  
   


{% endblock content %}